.container1 {
    border: 1px solid black;
    background-color: white;
    height: 80%;
    width: 90%;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 40px;
    text-align: center;
   
}
.request {
    text-align: left;
    margin-left: 20px;
}
.paragraph {
    text-align: left;
    margin-left: 70px;
}
.academic{
    border-width: 0 0 1px 0 ;
    border-color: white white black white;
}
.name {
    width: 80%;

}
.right {
    text-align: right;
    margin-right: 120px;
}
.last {
    border: 3px solid black;
    width: 80%;
    margin-left: 120px;
    text-align: center;
    margin-bottom: 30px;
}
td {
    border: 3px solid black;
    text-align: center;
    border-spacing: 15px 15px;
    
}
.submit {
    text-align: center;
    margin-top: 30px;
    

}
.submit1 {
    height: 50px;
    width: 150px;
    border-radius: 6px;
    background-color: rosybrown;
    border: 2px solid black;
    
}
.upload {
    text-align: left;
    margin-left: 30px;
}
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
  }
  
.complete {
    text-align: center;
    background-color: whitesmoke;
    
}


.modal{
   display: none;
   position: fixed;
   z-index: 1;
   padding: 100px;
   left: 0;
   top:0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}